Matplotlib.code-workspace
Figures/Scatterplot_1.png
Figures/Figure_1_1.png
Figures/figure1_2Try.png
Figures/Figure_1_2.png
Figures/figure2_1.png
Figures/figure2_2.png
Figures/figure3_2.png
Figures/figure4_1.png
Figures/figure4_2.png
Figures/figure4_3.png
Figures/figure4_4.png
Figures/figure5_1.png
Figures/figure5_2.png
Figures/figure6_1.png
Figures/figure6_3.png
Figures/figure7_1.png
Figures/figure7_2.png
Figures/figure7_3.png
Figures/figure7i_1.png
Figures/figure8_1.png
Figures/figure9_1.png
Figures/figure9_2.png
Figures/Figure_10_1.png
Figures/Figure_10_1i.png
Figures/figure11_1.png
Figures/figure11_1_HQ.png
Figures/figure11_1_HQi.png
Figures/figure12_1_HQ.png
Figures/figure12_2_HQ.png
Figures/figure13_1_HQ.png
Figures/figure13_2_HQ.png
Figures/figure14_1_HQ.png
Figures/figure3_1.png
Figures/figure6_2.png
Figures/Multiplot_1.png
Figures/Multiplot_2.png
Figures/Multiplots_1.png
Figures/multiplots_2.png
